.rmp-helper-highlight {
  color: red;
}

body {
  min-width: 500px;
}
#rmp-helper-options {
  min-width: 500px;
}

#rmp-helper-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 100000;
  width: 250px;
  bottom:0;
  right:0;
  padding: 1rem;
  border: 2px solid black;
  background-color: white;
}

#rmp-helper-maximize {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100000;
}

.rmp-helper-match {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.rmp-helper-hidden {
  display: none !important;
}

.rmp-helper-green {
  background-color: rgb(127, 246, 195);
}

.rmp-helper-yellow {
  background-color: rgb(255, 241, 112);
}

.rmp-helper-red {
  background-color: rgb(255, 156, 156);
}

.rmp-helper-grey {
  background-color: rgb(228, 228, 228);
}

.rmp-helper-rating {
  width: fit-content;
  position: relative;
}

.rmp-helper-rating-text {
  font-size: 14px;
  width: fit-content;
  padding: 0.3rem;
  margin-right: 0.2rem;
}

.rmp-helper-popup, .rmp-helper-popup * {
  /* border: 1px solid red; */
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: inherit;
}

.rmp-divider {
  border-right: 1px solid black;
  height: 15px;
}

.rmp-helper-popup-name {
  font-weight: bold;
}

.rmp-helper-popup-department {
  color: gray;
  font-size: 0.87em;
}

.rmp-helper-popup-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rmp-helper-popup-score {
  padding: 0.3rem;
}

.rmp-helper-popup-reviews {

}

.rmp-helper-popup-difficulty p {
  margin-bottom: 0.2rem;
}

.rmp-helper-difficulty-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rmp-helper-bar-outer {
  background-color: white;
  height: 10px;
  width: 100px;
  background-color: rgb(209, 209, 209);
  border-radius: 50px;
}

.rmp-helper-bar-inner {
  height: 10px;
  width: 60%;
  border-radius: 50px;
}